body {
}



.corps {
    display: flex;
    flex-flow: wrap;
}
h1{
    position:center;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    margin: 10px;
    border: solid black 1px;
    vertical-align: top;
}


img{
    max-width:280px;
    max-height: 280px;
}