body {
}

.container {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    max-width: none;
}


.corps {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 400px;
    margin: 10px;
    border: solid black 1px;
}

.card-title {
    position: absolute;
    top: 10px;
}


img{
    max-width: 280px;
    max-height: 250px;
}