body {
    resize: horizontal;
    overflow : auto;
}



.corps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 10px;
    border: solid black 1px;
}

img{
    max-width:380px;
}

.opinion{
    display : flex;
    flex-direction : row;
}

.opinion div {
    margin : 5px;
}

@media (min-width: 650px) {
    .span4 {
        grid-column-end: span 4;
    }

    .span6 {
        grid-column-end: span 6;
    }
}